body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  /* the following lines prevent a weird blank space in Safari when in full screen mode */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  text-align: center;
}

p {
  line-height: 1.5em;
}

#mainContainer {
  background-color: lightgray;
  /* these settings prevent text extending too wide in the screen */
  width: 90%;
  max-width: 700px;
  height: 90%;
  max-height: 550px;
  margin: auto;
  padding-top: 20px;
}

#informedConsentText {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(240, 240, 240);
  line-height: normal;
  text-align: justify;
  height: 50vh;
  overflow: scroll;
  padding: 20px;
  border: 2px solid white;
}

.nextButton {
  display: block;
  margin: 20px auto;
  padding: 0.75em;
  text-align: center;
  font-weight: 300;
  color: white;
  border: 0px solid rgb(200, 16, 46);
  border-radius: 20px;
  background-color: rgb(200, 16, 46);
}

.nextButton:hover {
  background-color: rgb(200, 16, 46, 0.8);
}

.nextButton:active {
  background-color: rgb(200, 16, 46, 0.6);
}

#buttonGiveConsent,
#finish_button {
  font-size: 16pt;
}

#buttonDownloadConsent {
  font-size: 12pt;
}
